@using bfw_WebAppBaumarkt_2024_04_08.Models;
@model IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
    .table-container {
        margin-top: 20px;
        width: 80vw;
        display: flex;
        justify-content: center;
    }
    .headmid{
        align-self: flex-end;
    }
    .tbl {
        width: 100%;
        align-self: center;
    }
    .tbl th {
        background-color: #f2f2f2;
    }
    .tbl th, .tbl td {
        padding: 10px;
        text-align: center;
    }
    tr.border:hover {
       box-shadow: 0 0 1px 0 rgb(0, 0, 0);
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .search-fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-big{
        background-color: #f2f2f2;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    </style>
    <title>Home</title>
</head>
<body>
<div class="view-Container">
    <div class="header">
        <div class="headleft">
            <h1>Article List</h1>
            <button class="btn-big" onclick="window.location.href = '/Home/Index'">Zurück</button>
        </div>
        <div class="headmid">
            <button class="btn-big" onclick="window.location.href = '/Admin/InsertArticle'">➕ New Article</button>
            <button class="btn-big" onclick="window.location.href = '/Admin/InsertCategory'">➕ New Category</button>
        </div>
        <div class="search-fields">
            <form action="/Admin/Index" method="post">
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" placeholder="Search for Article.."
                       @if (Model.Search != "")
                       {
                           <text>value="@Model.Search"</text>
                       }>

                <label for="param">Kategorie:</label>
                <select id="param" name="param" onchange="this.form.submit()">
                    <option value="0"
                            @if (Model.CategoryId == 0)
                            {
                                <text>selected</text>
                            }>
                        All
                    </option>
                    @foreach (var kat in Model.Categories)
                    {
                        <option value="@kat.KId"
                                @if (Model.CategoryId == kat.KId)
                                {
                                    <text>selected</text>
                                }>
                            @kat.Bezeichnung
                        </option>
                    }
                </select>

                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <div class="table-container">
        <table class="tbl">
            <thead>
            <tr>
                <th>Article-ID</th>
                <th>Article Img</th>
                <th>Bezeichnung</th>
                <th>Kategorie (KID)</th>
                <th>Preis</th>
                <th>Bestand</th>
                <th>Administration</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr class="border">
                    <td>@article.AId</td>
                    <td>
                        @if (article.Bild != null)
                        {
                            <img src="/images/@(article.Bild)" alt="Bild" style="width: 50px; height: 50px;"/>
                        }
                        else
                        {
                            <text>no image</text>
                        }
                    </td>
                    <td>@article.Name</td>
                    <td>@article.Category.Bezeichnung (@article.KId)</td>
                    <td>@article.LPreis €</td>
                    <td>@(article.Bestand > 0 ? article.Bestand : "nicht auf Lager")</td>
                    <td>
                    <a href="/admin/edit?aid=@article.AId">Edit 🖊️</a> <br/>
                    <a href="/admin/delete/aid?@article.AId">Delete ❌</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
</body>
</html>